In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

In [4]:
df.tail()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [5]:
df.head(18)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0

In [6]:
df.shape # nombre de colonnes et lignes

(1000, 10)

In [7]:
df.columns

Index(['id', 'date', 'first_name', 'last_name', 'email', 'gender',
       'ip_address', 'country', 'price_paid', 'tax'],
      dtype='object')

In [8]:
df.columns.tolist()

['id',
 'date',
 'first_name',
 'last_name',
 'email',
 'gender',
 'ip_address',
 'country',
 'price_paid',
 'tax']

In [9]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [11]:
df.set_index("date")

,id,first_name,last_name,email,gender,ip_address,country,price_paid,tax
date,,,,,,,,,
03/28/2021,1,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
03/19/2021,2,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
03/17/2021,3,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
03/19/2021,4,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
03/24/2021,5,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
03/24/2021,996,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
03/17/2021,997,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
03/13/2021,998,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
03/17/2021,999,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
03/23/2021,1000,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [13]:
df.set_index("email", inplace=True)

In [14]:
df.index

Index(['malders0@shop-pro.jp', 'hharridge1@gnu.org', 'ekilminster2@etsy.com',
       'gbrantl3@umn.edu', 'kbeasant4@jigsy.com', 'tbraybrooke5@umn.edu',
       'akencott6@phoca.cz', 'cfeasley7@ed.gov', 'wheersema8@tumblr.com',
       'ggookes9@amazon.co.uk',
       ...
       'sthorburnri@prnewswire.com', 'ecrushrj@berkeley.edu',
       'mguilloneaurk@about.me', 'osnellerl@nhs.uk',
       'cbruntjenrm@reference.com', 'derrigorn@elpais.com',
       'arastallro@toplist.cz', 'bstickelsrp@cloudflare.com',
       'ptesoerq@rakuten.co.jp', 'rpringuerrr@house.gov'],
      dtype='object', name='email', length=1000)